# Add whitespace policy
*.cc        text whitespace=trailing-space,space-before-tab,tabwidth=4
*.h         text whitespace=trailing-space,space-before-tab,tabwidth=4
*.S         text whitespace=trailing-space,space-before-tab,tabwidth=4